<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js" th:if="false"></script>
<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
<title th:text="${pageTitle}">Edit Wiki</title>
<th:block th:replace="master_template::master_head">
</th:block>
</head>
<body>
	<div th:replace="master_template::content_header">content_header_placeholder</div>
	<div class="content child-content">
		<h1 th:text="${title}">Wiki Title</h1>
		<hr />
		<form action="wiki.html" method="get" th:method="post" th:action="@{/edit/{title}(title=${title})}">
			<textarea rows="15" class="form-control" name="contents" th:text="${contents}">Wiki contents</textarea>
			<hr />
			<input class="btn btn-primary" type="submit" name="save" value="save" /> <a class="btn btn-primary" href="wiki.html"
				th:href="@{/wiki/{title}(title=${title})}">cancel</a>
		</form>
	</div>
	<div th:replace="master_template::content_footer">content_footer_placeholder</div>
</body>
</html>